name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:
    if: github.repository == 'Grids-and-Guides/osff-documentation'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create GitHub Release
        uses: yyx990803/release-tag@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          body: |
            **Dual Serve Documentation Release**
            Please refer to [CHANGELOG.md](
            https://github.com/${{ github.repository }}/blob/main/CHANGELOG.md
            ) for full details.
